GROQ_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=debet-support-bot
LANGSMITH_API_KEY=

COHERE_API_KEY=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=support_bot